flows_pool.json
[{"id":"6c9add44.450fc4","type":"tab","label":"Pool Controller","disabled":false,"info":""},{"id":"d863f828.dc1e68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cb094c81.df18c","type":"ui_group","z":"","name":"PoolWeb","tab":"d863f828.dc1e68","disp":true,"width":"6","collapse":false},{"id":"b0573d51.d62fb","type":"ui_group","z":"","name":"Modes","tab":"d863f828.dc1e68","disp":true,"width":"6","collapse":false},{"id":"42ef5bb3.8fa1b4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3ea053cd.557d3c","type":"light-scheduler-settings","z":"","name":"Home","latitude":"39.8944432","longitude":"-75.0062896"},{"id":"c06f6b7a.facf88","type":"ui_group","z":"","name":"Gauges","tab":"d863f828.dc1e68","disp":true,"width":"6","collapse":false},{"id":"6dd92db6.1735e4","type":"ui_tab","z":"","name":"Diagnostics","icon":"dashboard","disabled":false,"hidden":false},{"id":"5c03ba.87d81c48","type":"ui_group","z":"","name":"Diagnostics","tab":"6dd92db6.1735e4","disp":true,"width":"6","collapse":false},{"id":"ab1400ba.0929d","type":"ui_switch","z":"6c9add44.450fc4","name":"","label":"Pump","tooltip":"","group":"cb094c81.df18c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":450,"y":80,"wires":[["f6403a49.1a7cf8"]]},{"id":"219a4ab0.481b66","type":"ui_switch","z":"6c9add44.450fc4","name":"","label":"Pool","tooltip":"","group":"b0573d51.d62fb","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":90,"y":80,"wires":[["ab1400ba.0929d","f0faefe4.57e1d"]]},{"id":"4d3b95c9.fe8f2c","type":"ui_switch","z":"6c9add44.450fc4","name":"","label":"Spa Light","tooltip":"","group":"cb094c81.df18c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":460,"y":240,"wires":[["809373ae.6782c"]]},{"id":"e3d2b36c.2b50e","type":"ui_switch","z":"6c9add44.450fc4","name":"","label":"SPA","tooltip":"","group":"b0573d51.d62fb","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":90,"y":120,"wires":[["ab1400ba.0929d","fe521bc5.bbe278","4d3b95c9.fe8f2c"]]},{"id":"1f4b485c.fd5348","type":"light-scheduler","z":"6c9add44.450fc4","settings":"3ea053cd.557d3c","events":"[{\"start\":{\"dow\":3,\"mod\":960},\"end\":{\"dow\":3,\"mod\":1320}},{\"start\":{\"dow\":4,\"mod\":960},\"end\":{\"dow\":4,\"mod\":1320}},{\"start\":{\"dow\":6,\"mod\":960},\"end\":{\"dow\":6,\"mod\":1320}},{\"start\":{\"dow\":0,\"mod\":960},\"end\":{\"dow\":0,\"mod\":1320}},{\"start\":{\"dow\":1,\"mod\":960},\"end\":{\"dow\":1,\"mod\":1320}},{\"start\":{\"dow\":2,\"mod\":960},\"end\":{\"dow\":2,\"mod\":1320}},{\"start\":{\"dow\":5,\"mod\":960},\"end\":{\"dow\":5,\"mod\":1320}},{\"start\":{\"dow\":1,\"mod\":345},\"end\":{\"dow\":1,\"mod\":390}},{\"start\":{\"dow\":2,\"mod\":345},\"end\":{\"dow\":2,\"mod\":390}},{\"start\":{\"dow\":3,\"mod\":345},\"end\":{\"dow\":3,\"mod\":390}},{\"start\":{\"dow\":4,\"mod\":345},\"end\":{\"dow\":4,\"mod\":390}},{\"start\":{\"dow\":5,\"mod\":345},\"end\":{\"dow\":5,\"mod\":390}},{\"start\":{\"dow\":6,\"mod\":345},\"end\":{\"dow\":6,\"mod\":390}},{\"start\":{\"dow\":0,\"mod\":345},\"end\":{\"dow\":0,\"mod\":390}}]","topic":"","name":"Run Pump","onPayload":"1","onPayloadType":"num","offPayload":"0","offPayloadType":"num","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":110,"y":260,"wires":[["ab1400ba.0929d"]]},{"id":"33ac3d6f.e05fa2","type":"comment","z":"6c9add44.450fc4","name":"Scene Menus","info":"","x":70,"y":40,"wires":[]},{"id":"3f5a9921.5119a6","type":"comment","z":"6c9add44.450fc4","name":"Scheduler","info":"","x":60,"y":160,"wires":[]},{"id":"41c56ff9.06e53","type":"comment","z":"6c9add44.450fc4","name":"Device Mgmt","info":"","x":70,"y":320,"wires":[]},{"id":"713cb2a4.853e8c","type":"comment","z":"6c9add44.450fc4","name":"Devices","info":"","x":350,"y":20,"wires":[]},{"id":"fe521bc5.bbe278","type":"ui_switch","z":"6c9add44.450fc4","name":"","label":"Blower","tooltip":"","group":"cb094c81.df18c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":450,"y":140,"wires":[["3719a2b8.b2000e","f1b2d0f1.5df6e"]]},{"id":"f6403a49.1a7cf8","type":"exec","z":"6c9add44.450fc4","command":"megaio 0 rwrite 1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pool Pump","x":770,"y":80,"wires":[[],[],[]]},{"id":"809373ae.6782c","type":"exec","z":"6c9add44.450fc4","command":"megaio 0 rwrite 6 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"SPA LED","x":760,"y":240,"wires":[[],[],[]]},{"id":"f1b2d0f1.5df6e","type":"exec","z":"6c9add44.450fc4","command":"megaio 0 rwrite 2 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Blower","x":750,"y":140,"wires":[[],[],[]]},{"id":"3719a2b8.b2000e","type":"trigger","z":"6c9add44.450fc4","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"30","extend":false,"units":"s","reset":"0","bytopic":"all","name":"run blower for 30 seconds","x":670,"y":180,"wires":[["fe521bc5.bbe278"]]},{"id":"3e5128fe.da1318","type":"exec","z":"6c9add44.450fc4","command":"megaio 0 rwrite 7 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Heater Enable","x":880,"y":360,"wires":[[],[],[]]},{"id":"ef3e5e92.711ab","type":"exec","z":"6c9add44.450fc4","command":"megaio 0 rwrite 8 off","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"CFH - SPA","x":890,"y":420,"wires":[[],[],[]]},{"id":"db912e3a.9d7d5","type":"exec","z":"6c9add44.450fc4","command":"megaio 0 rwrite 8 on","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"CFH - Pool","x":890,"y":300,"wires":[[],[],[]]},{"id":"b24e4e94.61e94","type":"amazon-echo-hub","z":"6c9add44.450fc4","port":"80","enableinput":true,"x":130,"y":720,"wires":[["86ccb94f.a80148","bbd560b5.f6088"]]},{"id":"86ccb94f.a80148","type":"amazon-echo-device","z":"6c9add44.450fc4","name":"Pool Pump","topic":"Pool Pump","x":210,"y":760,"wires":[["bdc7c51e.9bda38","1405ac58.405634"]]},{"id":"fb1bc1bb.fdc7","type":"comment","z":"6c9add44.450fc4","name":"Automation","info":"","x":110,"y":680,"wires":[]},{"id":"bbd560b5.f6088","type":"amazon-echo-device","z":"6c9add44.450fc4","name":"Blower","topic":"Blower","x":190,"y":800,"wires":[["fe521bc5.bbe278"]]},{"id":"25c80f10.8c611","type":"exec","z":"6c9add44.450fc4","command":"megaio ","addpay":true,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"ADC 1 (Pressure)","x":330,"y":1360,"wires":[["c061d731.6d8e48"],[],[]]},{"id":"a51bfa63.10e5f8","type":"inject","z":"6c9add44.450fc4","name":"Read ADC","topic":"","payload":"0 aread 1","payloadType":"str","repeat":"30","crontab":"","once":true,"onceDelay":"","x":130,"y":1360,"wires":[["25c80f10.8c611"]]},{"id":"3587956b.72b8ea","type":"ui_gauge","z":"6c9add44.450fc4","name":"Filter Pressure","group":"c06f6b7a.facf88","order":0,"width":0,"height":0,"gtype":"gage","title":"Filter Pressure","label":"psi","format":"{{value | number:1}}psi","min":"0","max":"60","colors":["#4040dc","#28e628","#ca3838"],"seg1":"10","seg2":"20","x":920,"y":1340,"wires":[]},{"id":"53fda787.6f03e8","type":"function","z":"6c9add44.450fc4","name":"Convert to psi","func":"msg.payload -= 500;\nmsg.payload /= 4000;\nmsg.payload *= 174;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1340,"wires":[["3587956b.72b8ea"]]},{"id":"c061d731.6d8e48","type":"change","z":"6c9add44.450fc4","name":"Remove \\n","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($trim(payload))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1340,"wires":[["53fda787.6f03e8"]]},{"id":"8824c1b4.feb27","type":"ui_dropdown","z":"6c9add44.450fc4","name":"","label":"Heat Pool/Spa/Off","tooltip":"","place":"Select option","group":"cb094c81.df18c","order":8,"width":0,"height":0,"passthru":true,"options":[{"label":"Pool","value":"pool","type":"str"},{"label":"Spa","value":"spa","type":"str"},{"label":"Off","value":"off","type":"str"}],"payload":"","topic":"","x":290,"y":360,"wires":[["c59876f7.f446c8"]]},{"id":"c59876f7.f446c8","type":"switch","z":"6c9add44.450fc4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pool","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"spa","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":470,"y":360,"wires":[["db912e3a.9d7d5","47ea23df.a11ebc"],["47ea23df.a11ebc"],["ef3e5e92.711ab","47ea23df.a11ebc"]]},{"id":"47ea23df.a11ebc","type":"change","z":"6c9add44.450fc4","name":"Convert pool/spa to on","rules":[{"t":"change","p":"payload","pt":"msg","from":"pool|spa","fromt":"re","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":360,"wires":[["3e5128fe.da1318"]]},{"id":"bdc7c51e.9bda38","type":"change","z":"6c9add44.450fc4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":760,"wires":[["ab1400ba.0929d","7d03778c.6b99b8"]]},{"id":"7d03778c.6b99b8","type":"debug","z":"6c9add44.450fc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":760,"wires":[]},{"id":"1405ac58.405634","type":"debug","z":"6c9add44.450fc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":700,"wires":[]},{"id":"f0faefe4.57e1d","type":"ui_switch","z":"6c9add44.450fc4","name":"","label":"Pool Light","tooltip":"","group":"cb094c81.df18c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":660,"y":520,"wires":[["4a10dc85.b73054"]]},{"id":"4a10dc85.b73054","type":"exec","z":"6c9add44.450fc4","command":"megaio 0 rwrite 5 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pool LED","x":920,"y":480,"wires":[[],[],[]]},{"id":"b0cb7365.27bd6","type":"exec","z":"6c9add44.450fc4","command":"megaio 0 rread 1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pool Pump","x":310,"y":940,"wires":[["9b8cc752.951098"],[],[]]},{"id":"fe5aa426.3d2fd8","type":"inject","z":"6c9add44.450fc4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"15","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":960,"wires":[["b0cb7365.27bd6","31850e09.2c6622","cbf14558.2f8a38","3b9f8584.9bc84a","293c5a47.246d36","79d02e02.7776e"]]},{"id":"cbf14558.2f8a38","type":"exec","z":"6c9add44.450fc4","command":"megaio 0 rread 5","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pool Lights","x":310,"y":1060,"wires":[["41499494.4efddc"],[],[]]},{"id":"31850e09.2c6622","type":"exec","z":"6c9add44.450fc4","command":"megaio 0 rread 2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Blower","x":290,"y":1000,"wires":[["930d741b.6c6f38"],[],[]]},{"id":"3b9f8584.9bc84a","type":"exec","z":"6c9add44.450fc4","command":"megaio 0 rread 7","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Heater Enable","x":320,"y":1120,"wires":[["23ffcdf3.51e6b2"],[],[]]},{"id":"293c5a47.246d36","type":"exec","z":"6c9add44.450fc4","command":"megaio 0 rread 8","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Heat - Spa(0) or Pool(1)","x":350,"y":1180,"wires":[["9f70cdfb.eddac"],[],[]]},{"id":"ac3c9d7d.925b2","type":"ui_led","z":"6c9add44.450fc4","group":"5c03ba.87d81c48","order":0,"width":0,"height":0,"label":"Pump","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"name":"","x":730,"y":920,"wires":[]},{"id":"ba5ed1e.3f2b23","type":"ui_led","z":"6c9add44.450fc4","group":"5c03ba.87d81c48","order":0,"width":0,"height":0,"label":"Blower","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"name":"","x":730,"y":980,"wires":[]},{"id":"d7ec96e1.137df8","type":"ui_led","z":"6c9add44.450fc4","group":"5c03ba.87d81c48","order":0,"width":0,"height":0,"label":"Lights","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"name":"","x":730,"y":1040,"wires":[]},{"id":"3feb61c8.04fcee","type":"ui_led","z":"6c9add44.450fc4","group":"5c03ba.87d81c48","order":0,"width":0,"height":0,"label":"Heater Enable","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"name":"","x":730,"y":1100,"wires":[]},{"id":"a199e493.9b3588","type":"ui_led","z":"6c9add44.450fc4","group":"5c03ba.87d81c48","order":0,"width":0,"height":0,"label":"Pool(Grn)/Spa(Red)","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"name":"","x":730,"y":1160,"wires":[]},{"id":"930d741b.6c6f38","type":"change","z":"6c9add44.450fc4","name":"Remove \\n","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($trim(payload))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":980,"wires":[["ba5ed1e.3f2b23","fe521bc5.bbe278"]]},{"id":"9b8cc752.951098","type":"change","z":"6c9add44.450fc4","name":"Remove \\n","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($trim(payload))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":920,"wires":[["ac3c9d7d.925b2","ab1400ba.0929d"]]},{"id":"41499494.4efddc","type":"change","z":"6c9add44.450fc4","name":"Remove \\n","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($trim(payload))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1040,"wires":[["d7ec96e1.137df8","f0faefe4.57e1d"]]},{"id":"23ffcdf3.51e6b2","type":"change","z":"6c9add44.450fc4","name":"Remove \\n","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($trim(payload))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1100,"wires":[["3feb61c8.04fcee"]]},{"id":"9f70cdfb.eddac","type":"change","z":"6c9add44.450fc4","name":"Remove \\n","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($trim(payload))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1160,"wires":[["a199e493.9b3588"]]},{"id":"79d02e02.7776e","type":"exec","z":"6c9add44.450fc4","command":"megaio 0 rread 6","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Spa  Lights","x":310,"y":1260,"wires":[["47849e1b.cc29e"],[],[]]},{"id":"47849e1b.cc29e","type":"change","z":"6c9add44.450fc4","name":"Remove \\n","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($trim(payload))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1240,"wires":[["3eb807c.7a732f8","4d3b95c9.fe8f2c"]]},{"id":"3eb807c.7a732f8","type":"ui_led","z":"6c9add44.450fc4","group":"5c03ba.87d81c48","order":0,"width":0,"height":0,"label":"Spa Lights","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"name":"","x":730,"y":1240,"wires":[]}]